* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: rgb(34, 34, 170); 
    padding: 10px;
    height: auto;
}

.listamenu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
}

.menu .listamenu li{
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.menu .listamenu li a {
    width: 130px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}
.listamenu li:hover {
    background-color: rgb(102, 91, 255);
    border-bottom: 2px solid white;
}

/* Submenu de inicio */
.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(67, 67, 163);
    min-width: 100px;
    z-index: 10;
}
.submenu li{
    list-style: none;
}
.submenu li a{
    list-style: none;
}
.listamenu li:hover .submenu{
    display: block;
}

/* PARA MENU DE ANIMACION DE TEXTOS */
.sub {
    width: 100%;
    margin-top: 30px;
}

.sub ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.sub li {
    list-style: none;
}

.sub li a {
    display: block;
    padding: 15px 25px;
    background-color: rgb(34, 34, 170); 
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.sub li a:hover {
    background-color: rgb(102, 91, 255);
    transform: scale(1.05);
}
