* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: rgb(34, 34, 170); 
    padding: 10px;
    height: auto;
}

.listamenu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
}

.menu .listamenu li{
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.menu .listamenu li a {
    width: 120px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}
.listamenu li:hover {
    background-color: rgb(102, 91, 255);
    border-bottom: 2px solid white;
}

/* Submenu de inicio */
.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(34, 34, 170);
    min-width: 100px;
    z-index: 100;
}
.submenu li{
    list-style: none;
}
.submenu li a{
    list-style: none;
    display: block;
    width: 100%;
    height: auto;
    text-align: left;
}
.listamenu li:hover .submenu{
    display: block;
}
